*
{
    padding: 0;
    margin: 0;
}
body
{
    background-image: url(bg.jpg);
    background-size: cover;
}
.topnav
{
    border-bottom: 3px solid #ebb208;
    overflow: hidden;
}
.topnav a
{
    float: left;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .topnav-right{
    float: right;
  }

.mai
{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    width: 400px;
    border: 5px outset rgb(136, 35, 5);
    background-color: aquamarine;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    color: rgb(21, 15, 208);
}

.login
{
    font-size: 25px;
    background-color: rgb(171, 204, 107);
    width: 300px;
    margin: auto;
    margin-top: 60px;
    padding-top: 10px;
    padding-left: 25px;
    border: 2px dotted rgb(0, 0, 0);
}
.login a{
    font-size: medium;
}
input[type=text],input[type=password]
{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=submit]
{
    padding: 5px;
    float: right;
    margin-right: 50px;
}